:root {
  --white: white;
  --black: black;
  --light-slate-grey: #878f9a;
  --medium-spring-green: #52f3b0;
  --slate-blue: #3b4afb;
  --black-2: #1d2228;
  --firebrick: #c11822;
}

body {
  color: var(--white);
  background-color: #1d2228;
  font-family: Neue Machina, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: english-grotesque;
  font-size: 98px;
  font-weight: 700;
  line-height: 1em;
}

h2 {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 40px;
  font-family: english-grotesque;
  font-size: 50px;
  font-weight: 700;
  line-height: 1em;
}

h3 {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: english-grotesque;
  font-size: 34px;
  font-weight: 700;
  line-height: 1em;
}

h4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

a {
  text-decoration: underline;
  transition: all .2s;
}

.header {
  padding-left: 20px;
  padding-right: 20px;
}

.main {
  background-image: url('../images/Noise_1Noise.png');
  background-position: 0 0;
  background-size: auto;
  position: relative;
}

.footer {
  z-index: 0;
  background-color: #1b1f24;
  background-image: url('../images/Noise_1Noise.png');
  background-position: 0 0;
  background-size: auto;
  border-top: 1px solid rgba(154, 82, 97, .3);
  padding-top: 96px;
  padding-left: 32px;
  padding-right: 32px;
  position: relative;
  overflow: hidden;
}

.content {
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.content.mod--footer {
  max-width: 1080px;
}

.content.mod--audio {
  position: static;
}

.header__columns {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.section {
  background-image: url('../images/Noise_1Noise.png');
  background-position: 0 0;
  background-size: auto;
  padding: 80px;
  position: relative;
}

.section.section--hero {
  z-index: 3;
  padding-top: 240px;
  padding-bottom: 136px;
  overflow: hidden;
}

.hero__content {
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 50%;
  padding-left: 90px;
  display: flex;
  position: relative;
}

.footer__columns {
  justify-content: space-between;
  margin-bottom: 54px;
  display: flex;
}

.header__nav-link {
  color: #878f9a;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-left: 24px;
  margin-right: 24px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.header__nav-link:hover {
  color: var(--white);
}

.footer__col.col--1 {
  flex: 1;
}

.footer__col.col--3 {
  margin-left: 50px;
}

.header-absolute {
  z-index: 90;
  padding-left: 80px;
  padding-right: 80px;
  position: absolute;
  top: 50px;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.header__login {
  color: var(--white);
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-right: 40px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.btn {
  text-align: center;
  letter-spacing: .1em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 8px;
  min-width: 176px;
  padding: 25px 30px 22px;
  font-weight: 700;
  transition: all .2s;
}

.btn:hover {
  border-color: #fff;
}

.btn.btn--slim {
  border-color: rgba(255, 255, 255, .3);
  padding-top: 17px;
  padding-bottom: 14px;
}

.btn.btn--slim:hover {
  border-color: var(--white);
}

.btn.btn--slim.mod--form {
  border-width: 0;
}

.btn.btn--slim.mod--form.active {
  opacity: 0;
}

.btn.btn--hero {
  text-align: left;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
  display: flex;
  position: relative;
  overflow: hidden;
}

.btn.btn--hero:hover {
  color: #000;
}

.hero__h1-span2 {
  background-color: var(--white);
  width: 200px;
  height: 12px;
  margin-left: -89px;
  margin-right: 54px;
  display: inline-block;
  position: relative;
  top: 44px;
}

.hero__heading {
  letter-spacing: -.01em;
  white-space: nowrap;
  margin-bottom: 70px;
}

.hero__over-heading {
  color: var(--light-slate-grey);
  letter-spacing: .14em;
  text-transform: uppercase;
  margin-bottom: 32px;
  font-size: 18px;
}

.hero__elements {
  z-index: 0;
  width: 484px;
  height: 532px;
  position: relative;
}

.hero__elements-wrap {
  z-index: 0;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 48px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.hero__elem {
  z-index: 0;
  position: absolute;
  overflow: hidden;
}

.hero__elem.mod--1 {
  justify-content: center;
  align-items: center;
  width: 205px;
  height: 200px;
  display: flex;
  top: auto;
  bottom: 327px;
  left: 0%;
  right: auto;
}

.hero__elem.mod--2 {
  z-index: 1;
  top: auto;
  bottom: 0;
  left: -55px;
  right: auto;
}

.hero__elem.mod--3 {
  z-index: 2;
  background-color: var(--white);
  width: 120px;
  height: 35px;
  top: 250px;
  bottom: auto;
  left: 0;
  right: auto;
}

.hero__elem.mod--4 {
  background-image: url('../images/hero_elem-03.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 204px;
  height: 204px;
  top: auto;
  bottom: 3px;
  left: 0%;
  right: auto;
}

.hero__elem.mod--5 {
  width: 171px;
  height: 85px;
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
}

.hero__elem.mod--6 {
  background-color: var(--white);
  width: 35px;
  height: 35px;
  top: 50px;
  bottom: auto;
  left: 245px;
  right: auto;
}

.hero__elem.mod--7 {
  top: 120px;
  bottom: auto;
  left: 245px;
  right: auto;
}

.hero__elem.mod--8 {
  width: 69px;
  height: 137px;
  top: auto;
  bottom: 70px;
  left: auto;
  right: 169px;
}

.hero__elem.mod--9 {
  background-color: var(--white);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  top: auto;
  bottom: 0;
  left: 245px;
  right: auto;
}

.hero__elem.mod--10 {
  top: auto;
  bottom: 0;
  left: auto;
  right: 6px;
}

.hero__elem.mod--11 {
  z-index: 1;
  background-image: url('../images/hero_elem-04.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 140px;
  height: 34px;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

.hero__elem.mod--12 {
  background-color: var(--white);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  top: 243px;
  bottom: auto;
  left: 160px;
  right: auto;
}

.hero__elem.mod--13 {
  background-color: var(--white);
  width: 35px;
  height: 35px;
  top: 120px;
  bottom: auto;
  left: auto;
  right: 0;
}

.hero__elem.mod--14 {
  background-color: var(--white);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  top: 190px;
  bottom: auto;
  left: auto;
  right: 0;
}

.hero__elem.mod--1 {
  width: 200px;
  height: 199px;
  top: 0;
  bottom: auto;
}

.visit__content {
  justify-content: space-between;
  display: flex;
}

.visit__cards {
  flex: 1;
  justify-content: flex-end;
  align-items: stretch;
  display: flex;
}

.visit__card {
  border: 1px solid rgba(154, 82, 97, .3);
  border-radius: 10px;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  max-width: 230px;
  margin-left: 48px;
  padding: 24px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.visit__card:hover {
  border-color: rgba(154, 82, 97, .7);
}

.visit__card.mod--first {
  text-align: center;
  cursor: pointer;
  background-image: radial-gradient(circle at 90% -60%, rgba(193, 24, 34, .6), rgba(193, 24, 34, 0) 68%);
  flex: 1;
  align-items: center;
  max-width: none;
  min-height: 360px;
  margin-left: 120px;
  padding-top: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.visit__card.mod--first:hover {
  background-image: radial-gradient(circle at 20% 120%, rgba(193, 24, 34, .2), rgba(193, 24, 34, 0) 50%), radial-gradient(circle at 90% -60%, rgba(193, 24, 34, .6), rgba(193, 24, 34, 0) 68%);
}

.visit__card-label {
  color: #ffef99;
  letter-spacing: .09em;
  text-transform: uppercase;
  background-color: #e79248;
  border-radius: 20px;
  margin-bottom: 68px;
  padding: 5px 12px 4px;
  display: inline-block;
}

.visit__card-label.mod--blue {
  color: #b6f2ff;
  background-color: #48a5d4;
}

.visit__card-title {
  margin-bottom: 25px;
  font-family: english-grotesque;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.1em;
}

.visit__card-title-over {
  color: #b86a6a;
  letter-spacing: .09em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.visit__card-play-wrap {
  letter-spacing: .02em;
  align-items: center;
  margin-bottom: 32px;
  font-family: english-grotesque;
  font-size: 24px;
  font-weight: 500;
  display: flex;
}

.visit__card-play {
  border-radius: 100px;
  flex: none;
  margin-left: 12px;
  box-shadow: 0 5px 10px -3px rgba(0, 0, 0, .9);
}

.media__content {
  border-radius: 10px;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 560px;
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 40px;
  display: flex;
  position: relative;
}

.heading--size-98 {
  z-index: 2;
  font-size: 98px;
  position: relative;
}

.media__img {
  max-width: none;
  position: relative;
}

.meida__img-wrap {
  z-index: 0;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.media__desc-wrap {
  z-index: 2;
  width: 100%;
  max-width: 250px;
  margin-top: 24px;
  transition: all .8s;
  position: relative;
}

.media__desc {
  letter-spacing: .02em;
  margin-bottom: 33px;
  font-family: english-grotesque;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.4em;
}

.media__elem1 {
  width: 83px;
  height: 166px;
  position: absolute;
  top: auto;
  bottom: -26px;
  left: 178px;
  right: auto;
  overflow: hidden;
}

.media__elem2 {
  justify-content: flex-end;
  align-items: flex-end;
  width: 173px;
  height: 58px;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: 355px;
  transform: rotate(45deg);
}

.audio__list {
  padding-left: 0;
  list-style-type: none;
}

.audio__list-item {
  color: rgba(255, 255, 255, .5);
  background-image: url('../images/dash_1dash.png');
  background-position: 50% 100%;
  background-repeat: repeat-x;
  background-size: auto;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  position: relative;
}

.audio__list-item.mod--first {
  background-image: url('../images/dash_1dash.png'), url('../images/dash_1dash.png');
  background-position: 0 0, 50% 100%;
  background-repeat: repeat-x, repeat-x;
  background-size: auto, auto;
}

.audio__heading-wrap {
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 42px;
  display: flex;
}

.audio__heading {
  margin-bottom: 0;
}

.audio__subheading {
  color: #878f9a;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: none;
}

.audio__col {
  flex: 1;
}

.audio__col.col--1 {
  max-width: 260px;
  position: relative;
}

.audio__col.col--2 {
  max-width: 395px;
  padding-left: 50px;
  padding-right: 64px;
}

.audio__col.col--3 {
  margin-right: 56px;
  transition: all .2s;
}

.audio__col.col--3.active {
  color: var(--white);
}

.audio__col.col--4 {
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.audio__type-wrap {
  color: rgba(255, 255, 255, .3);
  letter-spacing: .02em;
  text-transform: uppercase;
  justify-content: flex-start;
  align-items: center;
  transition: all .2s;
  display: flex;
}

.audio__type-img {
  margin-right: 10px;
}

.audio__param-wrap {
  color: rgba(255, 255, 255, .4);
  align-items: center;
  margin-top: 44px;
  display: flex;
}

.audio__param-txt {
  text-transform: uppercase;
  margin-right: 36px;
}

.audio__list-title {
  color: #f1f5fb;
  line-height: 1.1em;
}

.audio__txt {
  margin-top: 2px;
  margin-bottom: 0;
  font-family: english-grotesque;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5em;
}

.audio__play {
  border: 1px solid var(--black);
  opacity: .5;
  filter: invert();
  cursor: pointer;
  background-image: url('../images/ico_rectangle.svg');
  background-position: 55%;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  transition: all .2s;
  display: flex;
}

.audio__play.active {
  border-color: var(--white);
  background-color: var(--white);
  opacity: 1;
  filter: none;
  box-shadow: 0 3px 13px -4px rgba(48, 13, 17, .8);
}

.audio__img-wrap {
  z-index: -1;
  opacity: 0;
  align-items: center;
  margin-top: -40px;
  transition: all .2s;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: -20px;
  right: auto;
}

.audio__img-wrap.active {
  z-index: 1;
  opacity: 1;
}

.audio__img {
  max-width: none;
  transition: all .5s;
  transform: scale(.9);
}

.audio__img.active {
  transform: none;
}

.audio__more {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 60px;
  position: relative;
}

.footer__logo {
  margin-bottom: 40px;
}

.footer__desc {
  text-transform: uppercase;
  font-family: english-grotesque;
  font-size: 34px;
  font-weight: 300;
  line-height: 1.2em;
}

.footer__elem {
  z-index: 0;
  display: block;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.footer__elem.mod--1 {
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.footer__copyright {
  color: rgba(255, 255, 255, .5);
  letter-spacing: .02em;
  text-transform: uppercase;
  align-items: center;
  margin-left: -6px;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
}

.footer__nav {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.footer__nav-link {
  color: #878f9a;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-bottom: 24px;
  text-decoration: none;
  position: relative;
}

.footer__nav-link:hover {
  color: var(--white);
}

.footer__social {
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  display: flex;
}

.footer__social.mod--mob {
  display: none;
}

.footer__soc-link {
  opacity: .5;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-right: 22px;
  display: flex;
}

.footer__soc-link:hover {
  opacity: 1;
  border-color: rgba(255, 255, 255, .7);
}

.footer__form-title {
  text-transform: uppercase;
  margin-bottom: 60px;
  line-height: 1.5em;
}

.input {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid #000;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  border-radius: 0;
  height: 52px;
  margin-bottom: 24px;
  padding-left: 0;
  padding-right: 0;
  transition: all .2s;
}

.input:focus {
  border-bottom-color: #fff;
}

.input.mod--modal {
  height: 72px;
  margin-bottom: 0;
}

.input.mod--modal:focus {
  border-bottom-color: rgba(255, 255, 255, .2);
}

.form-block {
  margin-bottom: 0;
}

.form-block.mod--footer {
  width: 100%;
  min-width: 240px;
  max-width: 300px;
}

.form__succes {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(146deg, var(--medium-spring-green), var(--slate-blue));
  text-align: left;
  padding: 16px 24px;
  font-weight: 700;
}

.visit__card-desc {
  color: rgba(255, 255, 255, .6);
  letter-spacing: .02em;
  font-family: english-grotesque;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.4em;
}

.footer__copyright-logo {
  margin-right: 6px;
}

.footer__copyright-txt {
  display: inline-block;
  position: relative;
  top: 4px;
}

.hero__elem-circle1 {
  background-image: url('../images/hero_elem-circle2.svg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  flex: none;
  width: 200px;
  height: 200px;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0%;
  right: 0%;
}

.hero__elem-circle1.mod--1 {
  background-image: url('../images/hero_elem-circle1.svg');
  background-position: 50% 0;
  top: 1px;
  bottom: auto;
}

.hero__elem-circle1.mod--2 {
  bottom: 1px;
}

.hero__elem-cube {
  border: 35px solid var(--white);
  flex: none;
  width: 158px;
  height: 158px;
}

.hero__h1-span1, .hero__h1-span3 {
  display: inline-block;
  position: relative;
}

.visit__card-elements {
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 190px;
  display: flex;
  position: relative;
}

.visit__card-elem-01 {
  transition: all 1s;
  position: absolute;
}

.visit__card-elem-01.active {
  transform: scale(1.1);
}

.visit__card-elem-02 {
  transition: all 1s;
  position: absolute;
  top: 50px;
  bottom: auto;
  left: 0%;
  right: auto;
}

.visit__card-elem-02.active {
  transform: scale(.9);
}

.visit__elem-03 {
  background-image: linear-gradient(140deg, var(--medium-spring-green), var(--slate-blue));
  width: 38px;
  height: 38px;
  transition: all 1s;
  position: absolute;
  top: 5px;
  bottom: auto;
  left: auto;
  right: 15px;
}

.visit__elem-03.active {
  transform: scale(.9);
}

.footer__elements {
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.footer__elem.mod--2 {
  top: auto;
  bottom: -20px;
  left: auto;
  right: -90px;
}

.footer__elem.mod--1 {
  bottom: 56px;
}

.footer__elem.mod--3 {
  transform-style: preserve-3d;
}

.menu {
  display: none;
}

.menu__nav-link-old {
  color: #1e1e2f;
  text-align: center;
  margin-right: 40px;
  text-decoration: none;
  display: inline-block;
  box-shadow: inset 0 0 #97c680;
}

.menu__nav-link-old:hover {
  box-shadow: inset 0 -9px #97c680;
}

.header__humburger, .header__humburger-old {
  display: none;
}

.heading__span {
  transition: all .8s;
  display: inline-block;
  position: relative;
}

.hero__elem-circle3 {
  background-image: url('../images/hero_elem-08.svg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 170px;
  transform: rotate(0);
}

.hero__elem-circle1-wrap {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.hero__elem-circle1-wrap.mod--2 {
  top: auto;
}

.hero__elem-circle2 {
  background-image: url('../images/hero_elem-10.svg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 138px;
  height: 100%;
  position: absolute;
  right: 0;
  transform: rotate(0);
}

.media__border {
  z-index: -1;
  border: 1px solid rgba(154, 82, 97, .3);
  border-radius: 10px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.media__elem1-into {
  background-image: url('../images/media_elem.png');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 166px;
  height: 100%;
  transition: all .8s;
}

.media__elem2-into {
  background-color: #ffc75a;
  width: 100%;
  height: 100%;
  transition: all .8s;
}

.footer__elem1 {
  z-index: 1;
  width: 170px;
  height: 85px;
  padding-top: 1px;
  position: absolute;
  top: auto;
  bottom: -211px;
  left: 366px;
  right: auto;
  overflow: hidden;
  transform: rotate(150deg);
}

.footer__elem1-into {
  background-image: url('../images/hero_elem-08.svg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 170px;
  height: 170px;
  position: absolute;
}

.header__humburger-wrap {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.visit__shine-wrap {
  z-index: -1;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 1300px;
  display: flex;
  position: absolute;
  top: -500px;
  bottom: auto;
  left: auto;
  right: 0;
  overflow: hidden;
}

.audio__shine-wrap {
  z-index: -1;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.footer__elem-mob {
  display: none;
}

.btn__ico {
  filter: none;
  background-image: url('../images/ico_btn-arrow.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  width: 24px;
  height: 24px;
  margin-top: -20px;
  margin-bottom: -20px;
  transition: all .2s;
  display: inline-block;
}

.audio__shine-img {
  position: relative;
  left: -300px;
}

.visit__shine-img {
  max-height: 100%;
  position: relative;
  right: -550px;
}

.visit__shine-mob-wrap {
  z-index: -1;
  display: none;
}

.visit__shine-mob-img {
  max-width: none;
}

.footer__follow-wrap {
  background-color: #1d2228;
  border-top: 1px solid #29242a;
  justify-content: center;
  align-items: center;
  min-height: 56px;
  margin-top: 64px;
  margin-left: -32px;
  margin-right: -32px;
  font-size: 16px;
  display: flex;
}

.footer__follow {
  z-index: 1;
  color: rgba(255, 255, 255, .6);
  text-align: center;
  letter-spacing: .02em;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.5em;
  position: relative;
}

.footer__follow-heart {
  z-index: -1;
  background-image: url('../images/follow-heart.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: -10px;
  display: inline-block;
  position: relative;
  top: -10px;
  right: -4px;
}

.footer__follow-link {
  color: #fff;
  display: inline-block;
}

.footer__follow-and {
  color: #fff;
}

.form__btn-wrap {
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 8px;
  transition: all .2s;
  display: inline-block;
  position: relative;
}

.form__btn-wrap:hover {
  border-color: var(--white);
}

.form__submit {
  z-index: 3;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.form__submit-result-wrap {
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 4.9rem;
  right: auto;
}

.form__submit-result {
  align-items: center;
  width: 0;
  display: flex;
  overflow: hidden;
}

.form__submit-result.active {
  width: 1.2rem;
  transition: all 1s;
}

.form__submit-result-ico {
  flex: none;
  width: 1.2rem;
  max-width: none;
  display: block;
}

.remodal__close {
  z-index: 5;
  opacity: .7;
  filter: none;
  cursor: pointer;
  background-image: url('../images/ico-close-modal.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  transition: all .2s;
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
}

.remodal__close:hover {
  opacity: 1;
}

.remodal__text-wrap {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
}

.remodal__heading {
  max-width: 11.25rem;
  font-family: english-grotesque;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1;
}

.remodal__content {
  z-index: 2;
  border-radius: 1.5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 100%;
  padding: 1.5rem 3rem 3rem;
  transition: all .3s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.remodal__img {
  object-fit: contain;
  object-position: 50% 100%;
  width: 100%;
  display: block;
  position: relative;
}

.remodal__text {
  max-width: 14rem;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.remodal.remodal--global {
  color: #fff;
  text-align: left;
  background-color: #1d2228;
  border-radius: 10px;
  width: 100%;
  max-width: 37.25rem;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;
  transform: translate(0);
}

.input-wrap {
  position: relative;
}

.overflow-hidden {
  position: relative;
  overflow: hidden;
}

.overflow-hidden.mod--submit {
  transition: all .2s;
}

.overflow-hidden.mod--submit.active {
  opacity: 0;
}

.form__result-ico {
  flex: none;
  width: 1rem;
  max-width: none;
  display: block;
}

.form__result-ico.mod--submit {
  filter: invert(90%);
}

.overflow__anim {
  transition: all .4s;
  position: relative;
  top: 0;
  right: 0;
}

.overflow__anim.mod--submit {
  filter: invert(90%);
}

.form__submit-arrow {
  z-index: 1;
  transition: all .2s;
  display: block;
  position: relative;
}

.form__submit-arrow.mod--2 {
  position: absolute;
  top: 0;
  right: 1.5rem;
}

.form__result {
  z-index: 2;
  opacity: 0;
  justify-content: flex-start;
  align-items: center;
  padding-left: .75rem;
  transition: all .2s;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.form__result.active {
  opacity: 1;
}

.form__submit-wrap {
  background-color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  position: absolute;
  bottom: 1.1rem;
  left: auto;
  right: 0%;
  overflow: hidden;
}

.form__result-anim {
  align-items: center;
  width: 0;
  display: flex;
  overflow: hidden;
}

.form__result-anim.active {
  width: 1rem;
  transition: all 1s;
}

@media screen and (max-width: 991px) {
  .footer {
    background-image: url('../images/Noise_1Noise.png'), radial-gradient(circle at 100% -30%, rgba(193, 24, 34, .6), rgba(193, 24, 34, 0) 40%);
    background-position: 0 0, 0 0;
    background-size: auto, auto;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section {
    padding-left: 32px;
    padding-right: 32px;
  }

  .section.section--media {
    overflow: hidden;
  }

  .hero__content {
    padding-left: 0;
  }

  .footer__columns {
    flex-wrap: wrap;
  }

  .header__col.col--2 {
    display: none;
  }

  .footer__col.col--1 {
    flex: 0 auto;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    display: flex;
  }

  .header__col.col--3 {
    display: none;
  }

  .header-absolute {
    padding-left: 32px;
    padding-right: 32px;
    top: 20px;
  }

  .header__login {
    text-align: center;
    margin-right: 72px;
  }

  .hero__elements-wrap {
    margin-right: -280px;
  }

  .visit__content {
    display: block;
  }

  .visit__card {
    margin-left: 20px;
  }

  .visit__card.mod--first {
    margin-left: 0;
    padding-left: 24px;
    padding-right: 24px;
  }

  .visit__card-title-over {
    margin-bottom: 16px;
  }

  .media__content {
    flex-direction: column;
    align-items: stretch;
    min-height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  .meida__img-wrap {
    margin-bottom: -150px;
    position: relative;
  }

  .media__desc-wrap {
    max-width: 600px;
    margin-top: -20px;
  }

  .media__desc {
    margin-bottom: 40px;
  }

  .media__elem1 {
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
  }

  .media__elem2 {
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .audio__list-item {
    flex-wrap: wrap;
  }

  .audio__col.col--1 {
    flex: 0 auto;
    width: 100%;
    max-width: none;
  }

  .audio__col.col--2 {
    max-width: 260px;
    padding-left: 0;
  }

  .audio__type-wrap {
    margin-bottom: 16px;
  }

  .audio__txt {
    margin-top: 0;
  }

  .audio__img-wrap {
    display: none;
  }

  .audio__more {
    position: static;
  }

  .footer__logo {
    margin-bottom: 0;
  }

  .footer__desc {
    margin-top: -12px;
    margin-left: 20px;
    font-size: 26px;
  }

  .footer__elem.mod--2, .footer__elem.mod--1 {
    display: none;
  }

  .footer__elem.mod--3 {
    width: 82px;
    position: relative;
    transform: rotateX(0)rotateY(-180deg)rotateZ(0);
  }

  .menu {
    z-index: 89;
    height: 100vh;
    position: fixed;
    top: 0%;
    bottom: 0;
    left: 0%;
    right: 0%;
    overflow: hidden;
  }

  .menu__content {
    z-index: 1;
    background-color: var(--black-2);
    background-image: radial-gradient(circle farthest-side at -30% 140%, rgba(193, 24, 34, .5), rgba(193, 24, 34, 0) 64%), radial-gradient(circle farthest-side at 130% -40%, rgba(193, 24, 34, .5), rgba(193, 24, 34, 0) 64%), url('../images/Noise_1Noise.png');
    background-position: 0 0, 0 0, 0 0;
    background-size: auto, auto, auto;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 125px 32px 80px;
    display: flex;
    position: relative;
  }

  .menu__nav {
    flex-direction: column;
    width: 100%;
    display: flex;
    overflow: hidden;
  }

  .menu__nav-link-old {
    text-align: left;
    width: 50%;
    margin-right: 0;
    padding-top: 26px;
    padding-bottom: 25px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
  }

  .menu__nav-link-old:hover {
    box-shadow: none;
  }

  .header__humburger {
    z-index: 0;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    position: relative;
  }

  .header__humburger-old {
    z-index: 0;
    width: 24px;
    height: 24px;
    padding: 0;
    display: block;
    position: relative;
  }

  .header__humburger-close {
    z-index: 2;
    padding: 0;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .footer__elem1 {
    bottom: -70px;
    left: auto;
    right: 0;
  }

  .header__humburger-line {
    background-color: var(--white);
    flex: none;
    width: 100%;
    height: 2px;
    min-height: 2px;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
  }

  .header__humburger-line.mod--1 {
    top: 0;
  }

  .header__humburger-line.mod--2 {
    width: 70%;
    left: auto;
  }

  .header__humburger-line.mod--3 {
    bottom: 0;
  }

  .menu__nav-link {
    color: var(--white);
    text-transform: uppercase;
    background-image: url('../images/dash_1dash.png');
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: none;
  }

  .menu__nav-link.mod--last {
    margin-bottom: -1px;
  }

  .menu__btns-wrap {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .header__humburger-wrap {
    cursor: pointer;
    margin-right: -5px;
    display: block;
    position: relative;
  }

  .visit__shine-wrap {
    height: 600px;
    top: -300px;
  }

  .audio__shine-wrap {
    overflow: hidden;
  }

  .footer__elem-mob {
    display: block;
    position: absolute;
    top: auto;
    bottom: 56px;
    left: auto;
    right: 0%;
  }

  .visit__shine-img {
    right: -250px;
  }

  .footer__follow-wrap {
    margin-top: 32px;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .footer {
    padding-top: 32px;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section.section--hero {
    padding-top: 130px;
    padding-bottom: 40px;
  }

  .hero__content {
    max-width: 100%;
  }

  .footer__col {
    width: 100%;
  }

  .footer__col.col--1 {
    margin-bottom: 64px;
  }

  .footer__col.col--3 {
    margin-left: 0;
  }

  .logo-img {
    max-width: 52px;
  }

  .btn {
    font-weight: 400;
  }

  .hero__h1-span2 {
    width: 120px;
    height: 8px;
    margin-left: -16px;
    margin-right: 28px;
    top: 25px;
  }

  .hero__heading {
    margin-bottom: 40px;
    font-size: 52px;
  }

  .hero__over-heading {
    margin-bottom: 10px;
    font-size: 13px;
  }

  .hero__elements {
    width: 280px;
    height: 290px;
    margin-right: 0;
  }

  .hero__elements-wrap {
    justify-content: flex-start;
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .hero__elem.mod--2 {
    max-width: 90px;
    left: 12px;
  }

  .hero__elem.mod--3 {
    width: 64px;
    height: 17px;
    top: 142px;
  }

  .hero__elem.mod--4 {
    width: 110px;
    height: 110px;
  }

  .hero__elem.mod--5 {
    width: 110px;
    height: 55px;
  }

  .hero__elem.mod--6 {
    width: 20px;
    height: 20px;
    top: 35px;
    left: 139px;
  }

  .hero__elem.mod--7 {
    top: 68px;
    left: 140px;
  }

  .hero__elem.mod--8 {
    width: 40px;
    height: 80px;
    bottom: 35px;
    right: 100px;
  }

  .hero__elem.mod--9 {
    width: 22px;
    height: 22px;
    left: 140px;
  }

  .hero__elem.mod--10 {
    max-width: 75px;
    right: 13px;
  }

  .hero__elem.mod--11 {
    width: 100px;
    height: 22px;
  }

  .hero__elem.mod--12 {
    width: 22px;
    height: 22px;
    top: 140px;
    left: 88px;
  }

  .hero__elem.mod--13 {
    width: 20px;
    height: 20px;
    top: 68px;
  }

  .hero__elem.mod--14 {
    width: 22px;
    height: 22px;
    top: 140px;
  }

  .hero__elem.mod--1 {
    width: 110px;
    height: 110px;
    bottom: 163px;
  }

  .visit__cards {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .visit__card {
    flex: 0 auto;
    width: 48%;
    max-width: none;
    margin-left: 0;
    padding: 16px;
  }

  .visit__card.mod--first {
    text-align: left;
    flex: 0 auto;
    align-items: flex-start;
    width: 100%;
    min-height: auto;
    margin-bottom: 20px;
    padding: 20px;
  }

  .visit__card-label {
    margin-bottom: 32px;
    padding-top: 2px;
    padding-bottom: 1px;
    font-size: 10px;
  }

  .visit__card-title {
    margin-bottom: 16px;
    font-size: 20px;
  }

  .visit__card-title-over {
    margin-bottom: 0;
    font-size: 13px;
  }

  .visit__card-play-wrap {
    order: -1;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .visit__card-play {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 20px;
    bottom: auto;
    left: auto;
    right: 20px;
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, .5);
  }

  .media__content {
    padding: 0;
  }

  .heading--size-98 {
    font-size: 52px;
  }

  .media__img {
    max-width: 100%;
  }

  .meida__img-wrap {
    margin-bottom: -75px;
  }

  .media__desc {
    color: rgba(255, 255, 255, .6);
    font-size: 15px;
  }

  .media__elem1 {
    width: 40px;
    height: 80px;
    top: 0;
    left: 71px;
    transform: rotate(-120deg);
  }

  .media__elem2 {
    width: 50px;
    height: 16px;
    top: 379px;
    transform: rotate(-45deg);
  }

  .audio__heading-wrap {
    margin-bottom: 34px;
  }

  .audio__subheading {
    display: none;
  }

  .audio__col.col--2 {
    flex: 0 auto;
    width: 100%;
    max-width: none;
    padding-right: 0;
  }

  .audio__col.col--3 {
    flex: 0 auto;
    width: 100%;
    margin-right: 0;
  }

  .audio__col.col--4 {
    z-index: 2;
    position: absolute;
    top: 25px;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .audio__type-wrap {
    margin-bottom: 10px;
    font-size: 13px;
  }

  .audio__param-wrap {
    margin-top: 16px;
  }

  .audio__list-title {
    margin-bottom: 32px;
    font-size: 20px;
  }

  .audio__txt {
    font-size: 15px;
  }

  .audio__play {
    width: 45px;
    height: 45px;
  }

  .audio__more {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .footer__desc {
    font-size: 20px;
  }

  .footer__nav {
    flex-flow: wrap;
    max-width: 400px;
    margin-bottom: 40px;
  }

  .footer__nav-link {
    width: 50%;
  }

  .footer__social {
    display: none;
  }

  .footer__social.mod--mob {
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
  }

  .footer__form-title {
    margin-bottom: 16px;
  }

  .visit__card-desc {
    font-size: 12px;
  }

  .hero__elem-circle1 {
    width: 110px;
    height: 110px;
  }

  .hero__elem-cube {
    border-width: 20px;
    width: 92px;
    height: 92px;
  }

  .visit__card-elements {
    margin-top: 40px;
  }

  .menu__content {
    padding-top: 105px;
  }

  .menu__nav-link-old:hover, .menu__nav-link-old:focus {
    background-image: linear-gradient(to right, #20c8bf, #f8e07c);
  }

  .hero__elem-circle3 {
    height: 110px;
  }

  .hero__elem-circle1-wrap {
    height: 55px;
  }

  .hero__elem-circle2 {
    width: 80px;
  }

  .media__border {
    display: none;
  }

  .media__elem1-into {
    width: 80px;
  }

  .footer__elem1 {
    width: 40px;
    height: 20px;
    bottom: -15px;
    right: 20px;
    transform: rotate(140deg);
  }

  .footer__elem1-into {
    width: 40px;
    height: 40px;
  }

  .visit__shine-wrap {
    top: -500px;
  }

  .audio__shine-wrap {
    justify-content: flex-end;
    height: 500px;
    top: -122px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .audio__shine-img {
    width: 600px;
    max-width: none;
    left: auto;
    right: -350px;
    transform: rotate(60deg);
  }

  .visit__shine-img {
    right: -200px;
  }

  .visit__shine-mob-wrap {
    opacity: .8;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 0;
    left: -32px;
  }

  .visit__shine-mob-img {
    width: 400px;
    position: relative;
    left: -150px;
  }

  .remodal__close {
    top: 1.5rem;
    right: 1.5rem;
  }

  .remodal__content {
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .remodal.remodal--global {
    max-width: 30rem;
  }
}

@media screen and (max-width: 479px) {
  .footer {
    background-image: url('../images/Noise_1Noise.png'), radial-gradient(circle at 110% -10%, rgba(193, 24, 34, .6), rgba(193, 24, 34, 0) 40%);
    background-position: 0 0, 0 0;
    background-size: auto, auto;
  }

  .hero__content {
    max-width: none;
  }

  .footer__columns {
    margin-bottom: 64px;
  }

  .header__login {
    margin-right: 20px;
  }

  .btn {
    font-size: 13px;
  }

  .btn.btn--slim {
    min-width: 150px;
    padding-top: 14px;
    padding-bottom: 12px;
  }

  .btn.btn--hero {
    width: 100%;
    padding-top: 22px;
    padding-bottom: 19px;
  }

  .hero__elements-wrap {
    justify-content: center;
  }

  .visit__card-title-over {
    max-width: 150px;
  }

  .hero__btn-wrap {
    width: 100%;
  }

  .media__elem1 {
    left: 30px;
  }

  .media__elem2 {
    top: 305px;
    right: -10px;
  }

  .audio__col.col--2 {
    padding-right: 50px;
  }

  .audio__param-wrap {
    font-size: 13px;
  }

  .audio__param-txt {
    margin-right: 16px;
  }

  .footer__copyright {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .footer__nav {
    flex-flow: wrap;
    max-width: 240px;
  }

  .footer__nav-link {
    width: 50%;
    margin-bottom: 30px;
  }

  .footer__social.mod--mob {
    justify-content: space-between;
  }

  .footer__soc-link {
    margin-right: 0;
  }

  .input {
    margin-bottom: 30px;
  }

  .visit__card-elem-01 {
    max-width: 145px;
  }

  .visit__card-elem-02 {
    width: 50px;
  }

  .visit__card-elem-02.active {
    transform: scale(.8);
  }

  .visit__elem-03 {
    width: 22px;
    height: 22px;
  }

  .visit__elem-03.active {
    transform: scale(.8);
  }

  .menu__content {
    background-image: radial-gradient(circle farthest-side at -30% 130%, rgba(193, 24, 34, .5), rgba(193, 24, 34, 0) 50%), radial-gradient(circle farthest-side at 160% -30%, rgba(193, 24, 34, .5), rgba(193, 24, 34, 0) 50%), url('../images/bg-noise_1bg-noise.jpg');
    background-position: 0 0, 0 0, 0 0;
    background-size: auto, auto, auto;
  }

  .menu__nav-link {
    color: rgba(255, 255, 255, .6);
    background-image: url('../images/ico_arrow-hover.svg'), url('../images/dash_1dash.png');
    background-position: 100%, 0 100%;
    background-repeat: no-repeat, repeat-x;
    background-size: auto, auto;
  }

  .menu__nav-link:hover {
    color: var(--white);
    background-image: url('../images/ico_arrow.svg'), url('../images/dash_1dash.png');
  }

  .menu__btns-wrap {
    justify-content: space-between;
    padding-left: 30px;
  }

  .footer__elem-mob {
    bottom: 420px;
  }

  .visit__shine-img {
    max-width: 120%;
  }

  .visit__shine-mob-wrap {
    bottom: -20px;
  }

  .visit__shine-mob-img {
    left: -150px;
  }

  .footer__follow-wrap {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .footer__follow {
    align-items: flex-start;
    max-width: 240px;
    padding-left: 0;
  }

  .footer__follow-heart {
    top: -12px;
    right: -5px;
  }

  .remodal__close {
    top: 1rem;
    right: 1rem;
  }

  .remodal__text-wrap {
    display: block;
  }

  .remodal__heading {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .remodal__text {
    max-width: 22rem;
  }

  .remodal.remodal--global {
    max-width: 100%;
  }
}


@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/PPNeueMachina-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/PPNeueMachina-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/PPNeueMachina-Ultrabold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}